<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://kendo.cdn.telerik.com/themes/6.4.0/bootstrap/bootstrap-main.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/kendo.aspnetmvc.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("EmployeeDetails", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Add an Employee", "AddedEmp", "Employee", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("OrdersSplitGridView", "SplitGridView", "Employee", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("OrdersSeparateView", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Kendo UI JavaScript files -->
    <script src="https://cdn.kendostatic.com/VERSION/js/kendo.all.min.js"></script>

    <!-- Kendo UI CSS files -->
    <link href="https://cdn.kendostatic.com/VERSION/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://cdn.kendostatic.com/VERSION/styles/kendo.default.min.css" rel="stylesheet" />
</body>
</html>
